* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#fff;
	}
.menu_bar {	
	display:none;/*m*/
	}
    .bt-menu{
        text-decoration: none;
    }
header {
	width: 100%;	
	position: fixed;/**/
	height: 64px;/**/
	top: 0px;/**/
	background: #000;/**/
	border-bottom:3px solid rgba(255,0,255,.8);/**/
	z-index: 1000;
}
header nav {
    background: #000;
    width:100%; /*m*/
	z-index:1000;
	/*max-width: 1000px;*/
	bottom: 0px ;/*m*/
    font-size: .8em;
   text-align: right;
}
header nav ul {
	list-style:none;
}
header nav ul li {
	display:inline-block;
	position: relative; 
    text-align: left;  
}
header nav ul li a {
	color:#fff;
	display:block;
    font-weight: bold;
	text-decoration:none;
	padding: 40px 20px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header nav ul li a span {
	margin-right:15px;
}
header nav ul li:hover .children {
	display:block;
}
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,0,255,.8);
}
header nav ul li .children li a {
	display: block;
    padding: 20px 0px 20px 20px;
}
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
/********SECTION*************************************/
section{
	margin:0px 0px 0px 0px;
	max-width: 1000;
	height: 100vh;	
	width: 100%;
	position: relative;
}
/*company*********************/
/***index****/
.bg__index{
	height: 100%;
	margin:0px 0px;
	background-image: url("../img/background/pisco.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.fig__inicio {
	margin: 0px auto;
	text-align: center;
	width: 80%;
	height: 50%;
}
.fig__inicio img{
	margin: 150px 0px 0px 0px;
}
/*history*/
.history{
    background-image: url("../img/background/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	text-align: center;
    color: #fff;
    font-weight: bold;
}
.photo__history{
	width: 50%;
    
	margin: 10px auto;
    border:5px solid #fff;
}
.history h2{
	margin: 63px 0 0 0;
    color: #FF00FF;
    padding-top: 10px;
}
.history p{
	margin: 10px 15%;
}
.our{
	background-color: #ffffff;
	text-align: center;
}
.our h2,.our h3, .cellar h2, .vineyard h2{
	padding: 10px 0; 
}
.our p{
	margin: 0px 20%;
	text-align: center;
}
.photo__our{ 	
	width: 30%;
	margin: 10px auto;
}
.cellar{
	background-color: #8A4B08;
	text-align: center;
}
.vineyard{
    text-align: center;
}
.place_vineyard p, .place_cellar p{
    width: 90%;
    margin: 15px auto;
}
.cellar h2{
	color: #fff;
}
.place_cellar figure,
.place_vineyard figure,
.place_awards figure,
.container_ica{
	display: inline-block;
}
.photo_cellar,
.photo_vineyard{
	width: 45%;
	margin: 10px 0px;
}
.place_cellar  p{
	color: #fff;
	padding: 10px 0;
    width: 90%;
}
.vineyard{
	background-color:#Fff;
}
.awards{
	background-image: url("../img/background/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    color: #fff;
    text-align: center;
}

.place_awards figure{
    width: 30%;
    height: 200px;
}
.place_awards figure img{
    background-color: #fff;
    border: 5px solid #fff;
}
.place_awards h2{
    padding: 15px 0;
}
.place_awards h3{
    width: 30%;
    margin:0 auto;
    border-bottom: 2px solid #fff;
}
.place_awards p{
    padding:10px 0;
}
/*customers*/
.ica, .palpa, .nazca, .chincha, .pisco, .lima{
	text-align: center;
}
.ica{	background-color: #fff;}
.palpa{
	background-color: #000;
	color: #fff;
}
.nazca{background-color: #FFF;}
.chincha{background-color: #fff;}
.pisco{background-color: #8A0808;}
.lima{background-color: #086A87;}
.container_ica{
	margin-top: 5%;
}
.palpa p{background-color: transparent;}
.photo_customers{
	width: 25%;
	height: 100px;
	margin: 10% 10px;
}
.ica figure,
.palpa figure,
.nazca figure,
.pisco figure,
.chincha figure,
.lima figure{
	display: inline-block;
    height: 300px;
}
.visit{
	background-color: #000;
	color:#fff;
}
.visit a span{
	color:#fff;
}
.visit h1 ,.visit a span{
	margin: 5px 5px;
}
.palpa .visit h1{color: #FF00FF;}
.nazca .visit{background-color: #61210B; color: #fff;}
.ica h2{
    margin: 100px 0 0 0;
}
.pisco  h2{
	background: #DBA901;
	color: #fff;
	width: 40%;
	margin: 0px auto;
	border-radius: 10px;
}
.alamo{background-color: #000;}
/*coompany*/

/*products*/
.products{
	height: 100%;
	margin:0px 0px;
	background-image: url("../img/bodega.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container_products{
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
}
#piscos{
	margin: 63px 0 0 0;
}
#piscos, #vinos{
	background-color: #fff;
	text-align: center;	
}
.title_products{
	background-color: #000;
	color: #fff;
	font-size: 2em;
	padding: 20px 0;
}
#piscos figure ,#vinos figure{
	width: 30%;
	height: 500px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 10px;
}

figcaption > h2{
	font-size: 2em;
	color: #8A0808;
	border-bottom: 2px solid #8A0808;
}

figcaption .read a{
	text-decoration: none;
	display: block;
	color:#fff;
	background-color: #8A0808;
	width: 100%;
}
.ventana #title{
    width: 100%;
    height: 30px;
    background: #8A0808;;
    color: #fff;
}
.ventana hr{
    background-color: #8A0808;;
}
.modal{
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,.7);
	position:fixed;
	top:0;
	left:0;
	display:none;
}

.ventana{
	width:400px;
	height:500px;
	background: #fff;
	text-align:center;
	position:absolute;
	top:10%;
	left:-200px;
	margin-left:50%;
	}
	
.boton-abrir, .boton-cerrar{
	
	padding:5px;
	font-size:1em;
}
.boton-abrir{
    background-color: #8A0808;
    color: #fff;
    width: 100%;
}

/***********FOOTER***************/
footer{
	background: #000;
	width: 100%;
	height: 155px;
	color: #fff;
	z-index: 1000;
    bottom: 0px;
}
.social{
    width: 100%;
    height: 60px;
    text-align: right;  
}
.social p{
	padding: 5px 0px;
     margin-right: 20px;
}
.social a{
    text-decoration: none;
}
.social a span{
	padding: 5px 0;
    color: #fff;
    font-size: 1.5em;
    margin-right: 20px;
}
 .contacts{
     width: 100%;
	text-align: right;
}
.contacts  p{
    margin-right: 20px;
}
.copyright{
    width: 100%;
    color: #848484;
    text-align: center;
    font-size: .7em;
}
.copyright p{
    margin-top:  5px;
}


/**********media queries**************/
@media screen and (max-width: 1340px){
    header nav{     
       	 text-align: right;
	}
	.fig__inicio{
		height: 70%;
	}
	.bg__index  .fig__inicio img{
	margin: 80px 0px 0px 0px;
	width: 80%;
	}
}
@media screen and (max-width: 1180px){
	
}
@media screen and (max-width: 1070px){
	header nav ul li a{
		font-size: 1em;
	}
	/*history*/
	.container__all{
		margin:0px auto 0px ;
		height: 100%;
	}
}
@media screen and (max-width: 965px){
	header nav ul li a{
		font-size: 0.9em;
	}
    footer{
        bottom: 0px;
        height: 155px;
    }
    .footer{
        margin-bottom: 0px;
        bottom: 0px;
    }
    .copyright p{
        font-size: .7em;
    }
}
@media screen and (max-width: 900px){

	header nav ul li a{
		font-size: .9em;
	}
   
}
@media screen and (max-width: 800px) {
	header nav ul li a,
    nav ul li a ul li a{
        font-size: 0.5em;
    }
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#000000;
		z-index: 1000;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;		
	}
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
	header{
		height: 86px;
	}
	header nav {
		width: 80%;
		height: calc(100% - 86px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
    header nav ul li a {
	padding: 20px ;
    }
	header nav ul li ul li {
		font-size: 1em;
	}
	header nav ul li {
		font-size: 2em;
		display: block;
		border-bottom:2px solid rgba(255,0,255,.8);
	}
	header nav ul li a {
		display: block;
	}
	header nav ul li:hover .children {
		display: none;
	}
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
	header nav ul li .caret {
		float: right;
	}
	.bg__index .fig__inicio img{
	margin: 120px 0px 0px 0px;
	}
 
 .photo__history{
	width: 90%;
}
.history p{
	margin: 0px 5%;
}
.history h2{
	margin: 86px 0 0 0;
}
.our p{
	margin: 0px 5%;
}
.photo__our{ 	
	width: 60%;
    height: 200px;
}

.photo_awards{
	width: 100%;
	height: 100px;

}
.photo_awards img{
    width: 100%;
}
.container__awards{
    width: 100%;
   
}
.photo_awards figcaption h2{
    font-size: 1em;
}
    /*customers*/
     .photo_customers{
         height: 200px;
        width: 40%;
    }
    /*products*/
    #piscos figure figcaption h2,
    #vinos figure figcaption h2{
        font-size: 1em;
    }
    #piscos figure ,#vinos figure{
        height: 250px;
    }
    /*footer*/
    footer {
        height: 160px;
        bottom: 0px;
        margin-bottom: 0;
    }
	.copyright p{
        font-size: .8em;
    }
}
@media screen and (max-width: 600px){
	header nav {
		height: calc(100% - 83px);
	}
    header nav ul li a,
    nav ul li a ul li a{
        font-size: 0.4em;
    }
	header .menu_bar a img{
		width: 7em;
		height: 2em;
	}
    /*customers*/
    .photo_customers{
        width: 40%;
       height: 200px;   
        }
	/*footer*/
	footer{
		height: 155px;
        bottom: 0px;
	}
   .social{
       text-align: center;
   }
   
	
	.contacts{
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
		text-align: center;
	}
	footer p{
		font-size: 0.8em;
	}
	.contacts p{
		font-size: 0.8em;
		right: 0px;
	}
	
}
@media screen and (max-width:350px){
    /*customers*/
    .photo_customers{
         height: 200px;
        width: 70%;
    }
    .visit h1{
        font-size: 0.5em;
    }
    .visit a span{
        font-size: 0.7em;
    }
    .photo_customers figcaption p{
        font-size: 0.7em;
    }
    /*products*/
    #piscos figure,
    #vinos figure{
        width: 80%;
        margin: 0 auto;
    }
    /*footer*/
    footer{
        bottom: 0px;
    }
    .social a span{
        font-size: 1em;
    }
    .contacts p{
       margin-top: 5px;
        font-size: 0.7em;
    }
  
    .copyright p{
        margin-top: 3px;
        font-size: 0.7em;
    }
}